.navbar {
	/*display: ;*/
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 20px;
	border: 1px solid black;
	height: 50px;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: space-around;
	align-items: center;
	padding-left: 0px;
}

.navbar ul li {
	list-style: none;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.bluebrother{
	background-color: blue;
	color: white;
}

.redsister {
	background-color: red;
	color: white;
}

.grandparent h4 {
	border: 1px solid black;
	border-radius: 8px;
}

.parent h4{
	border: none;
}

.promo	{
	font-weight: bold;
	color: gold;
}

input {
	height: 25px;
}
